@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-neutral-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --inactive: 0, 0%, 72%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark,
  :root[class~="dark"] {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --inactive: 0 0% 32%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .header-mobile {
    @apply sticky top-0 z-50 md:hidden w-full;
  }

  .sidebar {
    @apply fixed top-0 left-0 z-50 flex-between flex-col py-10 w-20 h-full min-h-[480px];
  }

  .sidebar-mobile {
    @apply sticky bottom-0 left-0 right-0 z-50 h-16;
  }

  .navbar {
    @apply flex-1 w-full flex-center flex-col gap-y-1 z-50;
  }

  .navbar-mobile {
    @apply grid auto-cols-fr grid-flow-col;
  }

  .blur-background {
    @apply bg-primary-foreground/80 backdrop-blur saturate-200;
  }

  .hide-ring {
    @apply focus-visible:ring-0 focus-visible:ring-offset-0;
  }

  .clickable {
    @apply cursor-pointer text-inactive hover:text-primary transition-colors;
  }

  .unavailable {
    @apply cursor-not-allowed text-muted;
  }

  .no-highlight {
    @apply !outline-none !ring-0 !ring-offset-0 bg-transparent;
  }

  .no-highlight:-webkit-autofill,
  .no-highlight:-webkit-autofill:hover,
  .no-highlight:-webkit-autofill:focus,
  .no-highlight:-webkit-autofill:active {
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
  }

  .masked-input {
    @apply bg-transparent p-0 border-none no-highlight;
  }

  .editor-input {
    @apply relative min-h-10 outline-none resize-none caret-primary py-2 text-sm;
  }

  .editor-placeholder {
    @apply absolute top-2 text-sm text-muted-foreground pointer-events-none;
  }

  .responsive-dialog-content {
    @apply md:!rounded-xl no-highlight px-4 pb-6 gap-y-4 !bg-background;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
